# PUBLIC CONFIG
name: 'mooxe-bp'
version: '0.0.0'
description: 'mooxe-bp'
author: 'FooTearth <footearth@gmail.com>'
main: 'mainfile'
license: 'MIT'
repository:
  type: 'git'
  url: 'https://github.com/Mooxe000/mooxe-bp.git'
bugs:
  url: 'https://github.com/Mooxe000/mooxe-bp/issues'
homepage: 'https://github.com/Mooxe000/mooxe-bp'
Keywords: [
  'bp'
  'ppt'
  'node'
  'gulp'
]

# BOWER CONFIG
bower:
  dependencies: []
  devDependencies: []

# NPM CONFIG
npm:
  bin: {}
  scripts:
    start: 'gulp; nodeppt start -d dist/'
    stop: 'gulp clean'
    restart: 'npm stop; npm start'

    watch: 'gulp; gulp watch'

    docker_build: 'docker build --rm -t mooxe/bp ./'
    docker_in: 'docker run -t -i -p \\80\\:8080 mooxe/bp /bin/bash'
    docker_run: 'docker run -d -p \\80\\:8080 mooxe/bp'
  dependencies: []
  devDependencies: [
    'coffee-script'
    'shelljs'
    'lodash'
    'del'

    gulp: [
      'npb-coffee'
      'run-sequence'

      'gulp-watch'

      'gulp-file-include'
    ]
  ]

# NPB CONFIG
npb:

#  bower:
#    root_allow: true
  npm:
    commander: 'npm' # default
    # commander: 'cnpm'

# -- build tools --
#  build: 'gulp'  # default
#  build: 'grunt'
